<?xml version="1.0"?>
<launch>
 
<!-- Launch Gazebo -->
<include file="$(find kuka_allegro_gazebo)/launch/kuka_allegro_gazebo.launch" />

<!-- Load joint controller CONFIGURATIONS from YAML file to parameter server -->
<rosparam file="$(find kuka_allegro_control)/config/allegro_control.yaml" command="load"/>

<!-- load the controllers: can automatically load, start or stoop a set of controllers at once -->
 <node name="allegro_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
   output="screen" ns="/" args="
   index_joint_0_effort_controller
   index_joint_1_effort_controller
   index_joint_2_effort_controller
   index_joint_3_effort_controller
   middle_joint_0_effort_controller
   middle_joint_1_effort_controller
   middle_joint_2_effort_controller
   middle_joint_3_effort_controller
   ring_joint_0_effort_controller
   ring_joint_1_effort_controller
   ring_joint_2_effort_controller
   ring_joint_3_effort_controller
   thumb_joint_0_effort_controller
   thumb_joint_1_effort_controller
   thumb_joint_2_effort_controller
   thumb_joint_3_effort_controller" />

<!-- Load joint controller CONFIGURATIONS from YAML file to parameter server -->

<rosparam file="$(find kuka_allegro_control)/config/kuka_control.yaml" command="load"/>
 <node name="kuka_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" />

<!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <!--param name="publish_frequency" type="double" value="50.0" /-->
    <!--param name="tf_prefix" type="string" value="" /-->
  </node>


</launch>
